<!DOCTYPE html>
<html>
<head>
  <title>PenItin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navbar_top' %>
  </header>
  
<div id="MainContent">

 <%= render 'shared/sidebar' %>
 <% render 'shared/newsfeed' %>

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</div>
</body>
</html>
